body {
  background-image: url("./../assets/images/transit-of-venus.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#div {

}

.body-text {
  color:aliceblue;
}
.text-block {
  color: aliceblue;
  text-align: left;
  width: 50%;
}