body {
  background-image: url("./../assets/images/transit-of-venus.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.body-text {
  color:aliceblue;
}
.text-block {
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px #1455ee;
  text-align: left;
  width: 70%;
}