body {
  background-image: url("./../assets/images/transit-of-venus.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-block {
  text-align: left;
  width: 50%;
}